[Unit]
Description=keys-vault FUSE mount
After=gnome-keyring-daemon.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=%h/.local/bin/keys-vault open
ExecStop=%h/.local/bin/keys-vault close

[Install]
WantedBy=default.target
