{{ $s := output "sops" "-d" (joinPath .chezmoi.sourceDir "secrets.enc.yaml") | fromYaml -}}
{{ $host := .chezmoi.hostname -}}
{{ $h := index $s "host" -}}

[storage]
driver = "btrfs"
{{- if and (hasKey $h $host) (hasKey (index $h $host) "podman_graphroot") }}
graphroot = "{{ index $h $host "podman_graphroot" }}"
{{- end }}
