{{ $s := output "sops" "-d" (joinPath .chezmoi.sourceDir "secrets.enc.yaml") | fromYaml -}}
{{ $host := .chezmoi.hostname -}}
{{ $h := index $s "host" -}}

wallpaper {
    monitor =
    {{- if and (hasKey $h $host) (hasKey (index $h $host) "wallpaper") }}
    path = {{ index $h $host "wallpaper" }}
    {{- else }}
    path = /usr/share/hypr/wall2.png
    {{- end }}
    fit_mode = cover
}
splash = false
