{{ $s := output "sops" "-d" (joinPath .chezmoi.sourceDir "secrets.enc.yaml") | fromYaml -}}
{{ $hyprpaper := index $s "hyprpaper" -}}

wallpaper {
    monitor =
    {{- if and (hasKey $hyprpaper .chezmoi.hostname) (hasKey (index $hyprpaper .chezmoi.hostname) "wallpaper") }}
    path = {{ index $hyprpaper .chezmoi.hostname "wallpaper" }}
    {{- else }}
    path = /usr/share/hypr/wall2.png
    {{- end }}
    fit_mode = cover
}
splash = false
