[Desktop Entry]
Name=OBS Studio
Comment=Free and Open Source Streaming/Recording Software
GenericName=Streaming/Recording Software
Exec={{ .chezmoi.homeDir }}/.local/bin/obs %U
TryExec={{ .chezmoi.homeDir }}/.local/bin/obs
Icon=com.obsproject.Studio
Categories=AudioVideo;Recorder;
Terminal=false
Type=Application
Version=1.0
StartupNotify=true
