[Desktop Entry]
Name=imv
Comment=Image viewer for X11 and Wayland
GenericName=Image Viewer
Exec={{ .chezmoi.homeDir }}/.local/bin/imv %F
TryExec={{ .chezmoi.homeDir }}/.local/bin/imv
Icon=imv
Categories=Graphics;2DGraphics;Viewer;
Terminal=false
Type=Application
Version=1.0
MimeType=image/bmp;image/gif;image/jpeg;image/jpg;image/png;image/tiff;image/webp;image/svg+xml;image/avif;image/heif;
