[Desktop Entry]
Name=GoldenDict-ng
Comment=Feature-rich dictionary lookup program
GenericName=Dictionary
Exec={{ .chezmoi.homeDir }}/.local/bin/goldendict %u
TryExec={{ .chezmoi.homeDir }}/.local/bin/goldendict
Icon=goldendict
Categories=Office;Dictionary;Education;Qt;
Terminal=false
Type=Application
Version=1.0
MimeType=x-scheme-handler/gdlookup;
