[Desktop Entry]
Name=Neovim
Comment=Edit text files
GenericName=Text Editor
Exec={{ .chezmoi.homeDir }}/.local/bin/nvim %F
TryExec={{ .chezmoi.homeDir }}/.local/bin/nvim
Icon=nvim
Categories=Utility;TextEditor;
Terminal=true
Type=Application
Version=1.0
Keywords=Text;Editor;
MimeType=text/english;text/plain;text/x-makefile;text/x-c++hdr;text/x-c++src;text/x-chdr;text/x-csrc;text/x-java;text/x-moc;text/x-pascal;text/x-tcl;text/x-tex;application/x-shellscript;text/x-c;text/x-c++;
