[Desktop Entry]
Name=Subs Re-Timer
Comment=Re-time a subtitle file based on the timings of another subtitle file
GenericName=Subs Re-Timer
Exec={{ .chezmoi.homeDir }}/.local/bin/subsretimer
TryExec={{ .chezmoi.homeDir }}/.local/bin/subsretimer
Icon=subsretimer
Categories=Education;Languages;AudioVideo;Audio;Video;
Terminal=false
Type=Application
StartupNotify=true
Version=1.0
